<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
</head>
<body>
    <a href="/user">
        <button>Add User</button>
    </a>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Role</td>
                <td>CreateTime</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.userName}">Username</td>
                <td th:text="${user.role.roleName}">Role</td>
                <td th:text="${user.createTime}">CreateTime</td>
                <td>
                    <a href=""><button >Edit</button></a>
                    <a href=""><button >Delete</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>